@model IEnumerable<WEB_Dolar.Models.DolarModel>

@{
    ViewBag.Title = "Dolar Oficial";
}

<h2>Dolar Oficial</h2>

@using (Html.BeginForm())
{
    <p>
        Búsqueda por fecha
    </p>
    <p>
        Fecha de inicio: <input name="inicio" type="date" />
        Fecha de fin: <input name="fin" type="date" />
        <input class="btn btn-info" type="submit" value="Filtrar" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Fecha", "Index", new { ordenamiento = ViewBag.OrdenPorFecha })
            @*Html.DisplayNameFor(model => model.D)*@
        </th>
        <th>
            @Html.ActionLink("Valor", "Index", new { ordenamiento = ViewBag.OrdenPorValor })
            @*Html.DisplayNameFor(model => model.V)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.D)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.V)
        </td>
    </tr>
}

</table>
